**Exercise 1**

    A given data of 12 Employees working in an investment firm. So add the Employee Data in Employee SQLite Database of Employee_Detail1 Table which was created by you.
    
        1)employee_id=[101,102,103,104,105,106,107,108,109,110,111,112,113]
    
        2)name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
    
        3)age=[25,27,25,24,30,26,23,26,25,26,29,24]
    
        4)department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
    
        5)salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]

In [2]:
employee_id=[101,102,103,104,105,106,107,108,109,110,111,112,113]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]

l=[]
for i in range(len(name)):
    l.append([employee_id[i],name[i],age[i],department[i],salary[i]])    
    
import sqlite3
database=sqlite3.connect('Employees.sqlite')
cur=database.cursor()
sql_query = 'create table Employee_Detail1 (employee_id int primary key,name Text,Age int,department text,salary int)'
cur.execute(sql_query)
cur.executemany("Insert into Employee_Detail1 values(?,?,?,?,?)",l)
database.commit()

**Exercise 2**

    Find the employee_id of employee whose is working in Finance Department in Investment firm from Employee SQLite Database.
    Print the employee_id as integer value

Output Format:

    employee_id_1
    employee_id_2
    .  .  .

In [3]:
import sqlite3
database=sqlite3.connect('Employees.sqlite')
cur=database.cursor()
cur.execute('select * from Employee_Detail1 where department="Finance"')
ans=cur.fetchall()
for i in ans:
    print(i[0])

103
107

**Exercise 3.Count Genre**

    IMDB.sqlite' database contains all details of movies and has three tables with name IMDB, genre and earning.
    Find the count of each genre present in IMDB movie dataset?
    Print the Genre and number of movies present in that genre.
    Note: Ignore the empty value present in genre.

Output Format:

    genre_1 num_movie_1
    genre_2 num_movie_2

In [4]:
import sqlite3
import pandas as pd
database=sqlite3.connect('IMDB.sqlite')
data=pd.read_sql_query('select genre,count(*) as number from genre group by genre',database)
m=len(data['genre'])             
for i in range(1,m):
    if data['genre'][i]==' ':
        continue
    else:
        print(data['genre'][i],data['number'][i])

Action 33
Adventure 43
Animation 13
Biography 21
Comedy 31
Crime 11
Drama 77
Family 3
Fantasy 7
History 6
Horror 2
Music 3
Musical 1
Mystery 7
Romance 13
Sci-Fi 18
Sport 3
Thriller 14
War 2
Western 2

**Exercise 4.IMDB Movie**

    IMDB.sqlite' database contains all details of movies and has three tables with name IMDB, genre and earning.
    Find the highest-grossing movie (i.e domestic earning + worldwide earning) in IMDB database.
    Print the rating of that movie.

Output Format:
    
    rating

In [6]:
import sqlite3
import pandas as pd
import numpy as np
database=sqlite3.connect('IMDB.sqlite')
data=pd.read_sql_query('select earning.Movie_id,IMDB.Rating,Domestic,Worldwide from earning inner join IMDB on earning.Movie_id=IMDB.Movie_id ',database)
data['Grossing']=data['Domestic']+data['Worldwide']
data.head()
data.to_sql('earning',database,if_exists='replace')
data=pd.read_sql_query('select Rating,Grossing from earning order by Grossing desc',database)
print(data['Rating'][0])

8.1